{% extends "layout/base.html" %}

{% load i18n %}

{% block content %}

<h1 class="h1">{% translate "Удаление статуса" %}</h1>
<p class="py-2">{% translate "Вы уверены, что хотите удалить статус" %} {{ status.name }}?</p>
<form class="form col-6" method="post" action="{% url 'statuses_delete' id=status.id %}">
    {% csrf_token %}
    <div class="form-outline col-3">
        <input type="submit" class="btn btn-primary w-100" value="{% translate 'Да, удалить' %}">
    </div>
</form>

{% endblock %}