{% extends "layout/base.html" %}

{% load i18n %}

{% block content %}

<h1 class="py-3">{% translate "Просмотр задачи" %}</h1>

<div class="card">
    <div class="card-header bg-secondary text-light">
        <h1>{{ task.name }}</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>{% translate "Автор" %}</th>
                <td>{{ task.author }}</td>
            </tr>
            <tr>
                <th>{% translate "Исполнитель" %}</th>
                <td>{{ task.assigned_to }}</td>
            </tr>
            <tr>
                <th>{% translate "Статус" %}</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>{% translate "Дата создания" %}</th>
                <td>{{ task.created_at }}</td>
            </tr>
        </table>
        <div class="pt-2">
            <a href="{% url 'tasks_update' id=task.id %}">
                {% translate "Редактировать" %}
            </a>
        </div>
        <div class="pt-2" >
            <a href="{% url 'tasks_delete' id=task.id %}">
                {% translate "Удалить" %}
            </a>
        </div>
    </div>
</div>

{% endblock %}