{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task manager{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-dark navbar-expand-md">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a href="/" class="navbar-brand">Менеджер задач</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Вход</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Регистрация</a>
                </li>
            </ul>
        </nav>
    </div>
    {% bootstrap_messages %}
    <div class="container bg-light p-5 my-5 border border-secondary rounded">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>