{% extends "layout/base.html" %}

{% load i18n %}

{% block content %}

<h1>{% translate "Пользователи" %}</h1>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>{% translate "Имя пользователя" %}</th>
        <th>{% translate "Полное имя" %}</th>
        <th>{% translate "Дата создания" %}</th>
        <th></th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.date_joined|date:"d M Y" }}</td>
            <td >
                <a href="{% url 'users_update' id=user.id %}">{% translate "Редактировать" %}</a>
                <br>
                <a href="{% url 'users_delete' id=user.id %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}