{% extends "layout/base.html" %}

{% load i18n %}

{% block content %}

<h1>{% translate "Users" %}</h1>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>{% translate "Username" %}</th>
        <th>{% translate "Full name" %}</th>
        <th>{% translate "Created at" %}</th>
        <th></th>
    </thead>
    <tbody>
        {% for user in object_list %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d M Y" }}</td>
            <td >
                <a href="{% url 'users_update' pk=user.id %}">{% translate "Edit" %}</a>
                <br>
                <a href="{% url 'users_delete' pk=user.id %}">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}