{% extends "layout/base.html" %}

{% load i18n %}

{% block content %}

<h1 class="h1">Вход</h1>

<form class="form col-6 pt-2" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-outline py-2">
        {% translate "Имя пользователя" as field_name %}
        <label for="loginUsername" class="form-label">{{ field_name }}:</label>
        <input type="text" class="form-control"
               name="loginUsername" placeholder="{{ field_name }}"
               value="{{ username }}" id="loginUsername">
    </div>
    <div class="form-outline py-2">
        {% translate "Пароль" as field_name %}
        <label for="loginPassword" class="form-label">{{ field_name }}:</label>
        <input type="password" class="form-control"
               name="loginPassword" placeholder="{{ field_name }}"
               id="loginPassword">
    </div>
    <div class="form-outline py-2 col-2">
        <input type="submit" class="btn btn-primary w-100" value="{% translate 'Войти' %}">
    </div>
</form>

{% endblock %}