{% load django_bootstrap5 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task manager{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-dark navbar-expand-md justify-content-between">
            <ul class="navbar-nav align-items-center mr-auto">
                <li class="nav-item">
                    <a href="/" class="navbar-brand">{% translate "Менеджер задач" %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users' %}" class="nav-link">{% translate "Пользователи" %}</a>
                </li>

                {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <a href="{% url 'statuses' %}" class="nav-link">{% translate "Статусы" %}</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">{% translate "Метки" %}</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">{% translate "Задачи" %}</a>
                </li>

                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="nav-link" value="{% translate 'Выход' %}">
                    </form>
                </li>

                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">{% translate "Вход" %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'users_create' %}" class="nav-link">{% translate "Регистрация" %}</a>
                </li>
                {% endif %}
            </ul>
            <form class="nav-item" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select class="custom_select" data-bs-theme="dark" name="language" onchange="this.form.submit();">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </form>
        </nav>
    </div>
    <div class="container">
        {% bootstrap_messages %}
    </div>
    <div class="container bg-light p-5 my-5 border border-secondary rounded">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>